<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des objets</h2>
    <ul class="list-group">
      <li *ngFor="let objet of objets">
        <a routerLink="/objets/detail/{{objet.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{objet.Id}}</span> {{objet.Nom}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un objet</h3>
    <div>
      <label>
        Nom:
        <input #objetNom class="form-control"><br>
        Description:
        <input #objetDescription class="form-control"><br>
        URL:
        <input #objetUrl class="form-control"><br>
        Puissance:
        <input #objetPuissance class="form-control"><br>
        Type:
        <ng-multiselect-dropdown [placeholder]="'Sélection du type de l objet'"
                                 [data]="types"
                                 [(ngModel)]="selectedType"
                                 [settings]="dropdownSettings"
                                 (onDeSelect)="nullType();">
        </ng-multiselect-dropdown>
      </label>
      <br>   
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="btn btn-success"
              (click)="add(objetNom.value,
                      objetDescription.value,
                      objetUrl.value,
                      objetPuissance.value);">
      Ajouter
      </button>
    </div>
  </div>
</div>