<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des chapitres</h2>
    <ul class="list-group">
      <li *ngFor="let chapitre of chapitres">
        <a routerLink="/chapitres/detail/{{chapitre.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{chapitre.Id}}</span>Chapitre Numero: {{chapitre.Numero}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un chapitre</h3>
    <label>
    <div>
        Numéro:
        <input #chapitreNumero class="form-control"><br>
        Histoire:
        <input #chapitreHistoire class="form-control"><br>
      </div>
      
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="btn btn-success" (click)="add(chapitreHistoire.value,chapitreNumero.value);">Ajouter</button>
    </label>
  </div>
</div>