<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des choix</h2>
    <ul class="list-group">
      <li *ngFor="let choi of choix">
        <a routerLink="/choix/detail/{{choi.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{choi.Id}}</span> {{choi.Contenu}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un choix</h3>
    <div>
      <label>
        Description:
        <input #choixContenu class="form-control"><br>
        Chapitre précédent:
        <ng-multiselect-dropdown [placeholder]="'Sélection du chapitre précédent du choix'"
                                [data]="chapitres"
                                [(ngModel)]="selectedChapitrePrec"
                                [settings]="dropdownSettings"
                                (onDeSelect)="nullChapP();">
        </ng-multiselect-dropdown><br>
    
        Chapitre suivant:
        <ng-multiselect-dropdown [placeholder]="'Sélection du chapitre suivant du choix'"
                                [data]="chapitres"
                                [(ngModel)]="selectedChapitre"
                                [settings]="dropdownSettings"
                                (onDeSelect)="nullChap();">
        </ng-multiselect-dropdown><br>
        <br>
        <!-- (click) passes input value to add() and then clears the input -->
        <div *ngIf="selectedChapitre && selectedChapitrePrec">
          <button class="btn btn-success" (click)="add(choixContenu.value);">Ajouter</button>
        </div>
      </label>
    </div>
  </div>
</div>