#zone {
    width: 70em;
    height: 35em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    text-align: center;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}