
<div *ngIf="Victoire">
  <p>victoire!</p>
  </div>
<div *ngIf="GameOver">
  <p>Game Over.</p>
</div>
<div *ngIf="!GameOver && !Victoire">
  <div class="story">
    <h1>Chapitre {{numChapitre}} :</h1>
    <h2>{{ histoire }}</h2>
  </div>

  <div *ngIf="!monstre">
    <div class="zone">
      <div class="row">
        <!-- Colonne de gauche, côté chapitre -->
        <div class="col-6">
          <!-- Liste des événements -->
          <div id="event">
            <h3>Liste des événements :</h3>
            <div *ngIf="evenements">
              <ul class="list-group">
                <li *ngFor="let evenement of evenements">
                  <button class="list-group-item list-group-item-action"
                          (click)="clickEvent(evenement.Id, evenement.Type);">
                    {{evenement.Description}}
                  </button>
                </li>
              </ul>
            </div>
            <div><p>{{message}}</p></div>
          </div>
          <!-- Liste des choix -->
          <div id="choix">
            <h3>Liste des choix :</h3>
            <div *ngIf="choix">
              <ul class="list-group">
                <li *ngFor="let choi of choix">
                  <button class="list-group-item list-group-item-action"
                          (click)="clickChoix(choi.Id);">
                    {{choi.Contenu}}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Colonne de droite, côté joueur -->
        <div class="col-6">
          <!-- Carte de sorcier du joueur -->
          <div id="sorcier">
            <h3>Carte de sorcier :</h3>
            <p>PV : {{PV}}</p>
            <p>Attaque : {{Attaque}}</p>
            <p>Défense : {{Defense}}</p>
          </div>
          <!-- Son inventaire -->
          <div id="inventaire">
            <h3>Inventaire :</h3>
            <div *ngIf="inventaire">
              <ul class="list-group">
                <li *ngFor="let objet of inventaire">
                  <p>{{objet.Nom}}</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- Et ses sorts -->
          <div id="sorts">
            <h3>Livre de sortilèges :</h3>
            <div *ngIf="sortileges">
              <ul class="list-group">
                <li *ngFor="let sortilege of sortileges">
                  <p>{{sortilege.Nom}}</p>
                </li>
              </ul>
            </div>
            <div id="indices">
              <h3>Indices trouvés :</h3>
              <div *ngIf="indices">
                <ul class="list-group">
                  <li *ngFor="let indice of indices">
                    <p>{{indice.Nom}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="monstre">
    <div class="zone">
      <div class="row">
        <div class="col-6">
          <div id="sorcier">
            <h2>{{monstre.Nom}}</h2>
            <p>PV monstre: {{monstre.Pv}}</p>
            <p>Attaque: {{monstre.Attaque}}</p>
            <p>Defense: {{monstre.Defense}}</p>
          </div>
          <p>{{message}}</p>
          <div id="sorcier">
            <div id="sorcier">
              <h3>Carte de sorcier :</h3>
              <p>PV : {{PV}}</p>
              <p>Attaque : {{Attaque}}</p>
              <p>Défense : {{Defense}}</p>
            </div>
          </div>
          </div>
          <div class="col-6">
            <button class="list-group-item list-group-item-action"
                    (click)="attaquer(monstre);">
              Donner un coup de boule au monstre
            </button>
            <div id="sorts">
              <h3>Livre de sortilèges :</h3>
              <div *ngIf="sortileges">
                <ul class="list-group">
                  <li *ngFor="let sortilege of sortileges">
                    <button class="list-group-item list-group-item-action"
                            (click)="attaquerSort(sortilege.Id,monstre);">
                      {{sortilege.Nom}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div id="inventaire">
              <h3>Inventaire :</h3>
              <div *ngIf="inventaire">
                <ul class="list-group">
                  <li *ngFor="let objet of inventaire">
                    <button class="list-group-item list-group-item-action"
                            (click)="attaquerObjet(objet.Id,monstre);">
                      {{objet.Nom}}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
          </div>
        </div>
    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
