<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="personnage" style="text-align: center">
  <h2>Détails sur : {{personnage.Nom}}</h2>
  <label>
    Id: {{personnage.Id}}<br><br>
    Nom:
    <input class="form-control" [(ngModel)]="personnage.Nom" placeholder="nom" trim><br>
    Type:
    <ng-multiselect-dropdown [placeholder]="'Sélection du type du personnage'"
                              [data]="types"
                              [(ngModel)]="selectedType"
                              [settings]="dropdownSettings2"
                              (onDeSelect)="nullType();">
    </ng-multiselect-dropdown><br>

    <div *ngIf="selectedType">
      <div *ngIf="selectedType[0].id<1">
        PV:
        <input class="form-control" [(ngModel)]="personnage.Pv" placeholder="pv" trim><br>
        Attaque:
        <input class="form-control" [(ngModel)]="personnage.Attaque" placeholder="attaque" trim><br>
        Défense:
        <input class="form-control" [(ngModel)]="personnage.Defense" placeholder="defense" trim><br>
        Probabilité:
        <input class="form-control" [(ngModel)]="personnage.Probabilite" placeholder="probabilite" trim><br>

        <h3>Sortilèges</h3>
        <ul class="list-group">
          <li *ngFor="let sortilege of selectedSortileges">
            <div class="row">
              <div class="col">
                <a routerLink="/sortileges/detail/{{sortilege.Id}}" class="list-group-item list-group-item-action">
                  <span class="badge">{{sortilege.Id}}</span> {{sortilege.Nom}}
                </a>
              </div>
            </div>
          </li>
        </ul>

        <ng-multiselect-dropdown [placeholder]="'Sélection des sortilèges du personnage'"
                                  [data]="sortileges"
                                  [(ngModel)]="selectedSortileges"
                                  [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
      </div>
      <div *ngIf="selectedType[0].id>0 && selectedType[0].id<2">
        Dialogue:
        <input class="form-control" [(ngModel)]="personnage.Dialogue" placeholder="dialogue" trim />
      </div>
    </div>
    <h3>Objets</h3>
    <ul class="list-group">
      <li *ngFor="let objet of selectedObjets">
        <div class="row">
          <div class="col">
            <a routerLink="/objets/detail/{{objet.Id}}" class="list-group-item list-group-item-action">
              <span class="badge">{{objet.Id}}</span> {{objet.Nom}}
            </a>
          </div>
        </div>
      </li>
    </ul>

    <ng-multiselect-dropdown [placeholder]="'Sélection des objets du personnage'"
                            [data]="objets"
                            [(ngModel)]="selectedObjets"
                            [settings]="dropdownSettings">
    </ng-multiselect-dropdown>
    
    <br><br>
    <button class="btn btn-info" (click)="save()">Sauvegarder</button>
    <button class="btn btn-danger" title="Supprimer le personnage"
            (click)="delete(personnage)">Supprimer</button>
  </label>
</div>
  