<!--<nav>
  <a routerLink="/sortileges">Sortileges</a>
</nav>-->


  <!--<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/sortileges">Sortilèges</a>

    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/objets">Objets</a>
    </li>
</ul>-->
<div class="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sortileges">Sortilèges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/objets">Objets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personnages">Personnages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chapitres">Chapitres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evenements">Evenements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/choix">Choix</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emplacements">Emplacements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/indices">Indices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/joueurs">Joueurs</a>
        </li>
      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
