<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="choix" style="text-align: center">

  <h2>Détails sur : {{choix.Contenu}}</h2>
  <label>
    Id: {{choix.Id}}<br><br>
    Contenu:
    <input class="form-control" [(ngModel)]="choix.Contenu" placeholder="nom" trim />
    
    <div>
      <h3>Chapitre Suivant</h3>
      <ul class="list-group">
        <li *ngFor="let chapitre of selectedChapitre">
          <div class="row">
            <div class="col">
              <a routerLink="/chapitres/detail/{{chapitre.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{chapitre.Id}}</span> Chapitre Numero {{chapitre.Numero}}
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ng-multiselect-dropdown [placeholder]="'Selection du chapitre du choix'"
      [data]="chapitres"
      [(ngModel)]="selectedChapitre"
      [settings]="dropdownSettings"
      (onDeSelect)="nullChap();">
      </ng-multiselect-dropdown>
    </div>
    <br>
    <div>
      <h3>Chapitre Précédent</h3>
      <ul class="list-group">
        <li *ngFor="let chapitre of selectedChapitrePrec">
          <div class="row">
            <div class="col">
              <a routerLink="/chapitres/detail/{{chapitre.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{chapitre.Id}}</span> Chapitre Numéro {{chapitre.Numero}}
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ng-multiselect-dropdown [placeholder]="'Sélection du chapitre précédent du choix'"
      [data]="chapitres"
      [(ngModel)]="selectedChapitrePrec"
      [settings]="dropdownSettings"
      (onDeSelect)="nullChapP();">
      </ng-multiselect-dropdown>
    </div>
    <div *ngIf="selectedChapitre && selectedChapitrePrec">
      <button class="btn btn-info" (click)="save()">Sauvegarder</button>
    </div>
    <button class="btn btn-danger" title="delete choix" (click)="delete(choix)">Supprimer</button>
  </label>
</div>

