<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="indice" style="text-align: center">
  <h2>Détail sur : {{indice.Nom}}</h2>
  <label>
    Id: {{indice.Id}}<br><br>
    Nom:
    <input class="form-control" [(ngModel)]="indice.Nom" placeholder="nom" trim><br>
    Description:
    <input class="form-control" [(ngModel)]="indice.Description" placeholder="description" trim><br>
    URL:
    <input class="form-control" [(ngModel)]="indice.Url" placeholder="url" trim><br>
  </label>
  <br><br>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
  <button class="btn btn-danger" title="Supprimer l'indice" (click)="delete(indice)">Supprimer</button>
</div>