<app-dashboard></app-dashboard>

<div style="text-align: center" >
  <h2>Liste des joueurs</h2>
  <ul class="list-group">
    <li *ngFor="let joueur of joueurs">
          <div class="list-group-item" style="width:30%;margin-right: auto;margin-left: auto">
            <span class="badge">
              {{joueur.Id}}
              <button class="btn btn-danger" title="Supprimer le joueur" (click)="delete(joueur)">X</button>
            </span> {{joueur.Nom}}
          </div>
        <div class="column">
        </div>
    </li>
  </ul>
</div>
