<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="chapitre" style="text-align: center">
  <h2>Détail sur : {{chapitre.Histoire}}</h2>
  <label>
    Id: {{chapitre.Id}}<br><br>
    Numero:
    <input class="form-control" [(ngModel)]="chapitre.Numero" placeholder="nom" trim><br>
    Histoire:
    <input class="form-control" [(ngModel)]="chapitre.Histoire" placeholder="type" trim><br>

    <h3>Evénements</h3>
    <ul class="list-group">
      <li *ngFor="let evenement of chapitre.Evenements">
        <div class="row">
          <div class="col">
            <a routerLink="/evenements/detail/{{evenement.Id}}" class="list-group-item list-group-item-action">
              <span class="badge">{{evenement.Id}}</span> {{evenement.Description}}
            </a>
          </div>
        </div>
      </li>
    </ul>

    <h3>Choix</h3>
    <ul class="list-group">
      <li *ngFor="let choix of chapitre.Choix">
        <div class="row">
          <div class="col">
            <a routerLink="/choix/detail/{{choix.Id}}" class="list-group-item list-group-item-action">
              <span class="badge">{{choix.Id}}</span> {{choix.Contenu}}
            </a>
          </div>
        </div>
      </li>
    </ul>

    <h3>Choix précédent</h3>
    <ul class="list-group">
      <li *ngFor="let choix of chapitre.ChoixPrec">
        <div class="row">
          <div class="col">
            <a routerLink="/choix/detail/{{choix.Id}}" class="list-group-item list-group-item-action">
              <span class="badge">{{choix.Id}}</span> {{choix.Contenu}}
            </a>
          </div>
        </div>
      </li>
    </ul>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
  <button class="btn btn-danger" title="delete chapitre" (click)="delete(chapitre)">Supprimer</button>
  </label>
</div>
