<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des personnages</h2>
    <ul class="list-group">
      <li *ngFor="let personnage of personnages">
        <a routerLink="/personnages/detail/{{personnage.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{personnage.Id}}</span> {{personnage.Nom}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un personnage</h3>    
    <div>
      <label>
        Nom:
        <input [(ngModel)]="nomForm" class="form-control"><br>
        Type:
        <ng-multiselect-dropdown [placeholder]="'Sélection du type du personnage'"
        [data]="types"
        [(ngModel)]="selectedType"
        [settings]="dropdownSettings2"
        (onDeSelect)="nullType();">
        </ng-multiselect-dropdown>
      
        <div *ngIf="selectedType">
          <div *ngIf="selectedType[0].id<1">
            PV:
            <input [(ngModel)]="pvForm" class="form-control"><br>
            Attaque:
            <input [(ngModel)]="attaqueForm" class="form-control"><br>
            Défense:
            <input [(ngModel)]="defenseForm" class="form-control"><br>
            Probabilité:
            <input [(ngModel)]="probaForm" class="form-control"><br>
            <br />
            Sortilèges:
            <ng-multiselect-dropdown [placeholder]="'Sélection des sortilèges du personnage'"
            [data]="sortileges"
            [(ngModel)]="selectedSortileges"
            [settings]="dropdownSettings">
            </ng-multiselect-dropdown><br>
          </div>
              
          <div *ngIf="selectedType[0].id>0">
            <label>
              Dialogue:
              <input [(ngModel)]="dialogueForm" class="form-control"><br>
            </label>
          </div>
        </div>
        <br>
        <div>
          Objets:
          <ng-multiselect-dropdown [placeholder]="'Sélection des objets du personnage'"
          [data]="objets"
          [(ngModel)]="selectedObjets"
          [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>
        <br><br>
        <!-- (click) passes input value to add() and then clears the input -->
        <button class="btn btn-success" (click)="add();">Ajouter</button>
      </label>
    </div>
  </div>
</div>