<div class="container">
    <div class="row">
        <div id = "image" class = "form-group">
            <button (click)="clickObjet()"><img title = '{{ Name }}' src = '{{ URL }}' height = '{{ Height }}' width = '{{ Width }}'/></button>
        </div>
    </div>
</div>
