<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="evenement" style="text-align: center">
  <h2>Détails sur : {{evenement.Description}}</h2>
  <label>
    Id: {{evenement.Id}}<br><br>
    Description:
    <input class="form-control" [(ngModel)]="evenement.Description" placeholder="nom" trim><br>
    <div>
      <h3>Emplacement</h3>
      <ul class="list-group">
        <li *ngFor="let emplacement of selectedEmplacement">
          <div class="row">
            <div class="col">
              <a routerLink="/emplacements/detail/{{emplacement.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">Emplacement: {{emplacement.Id}}</span> {{emplacement.Nom}}
              </a>
            </div>
          </div>
        </li>
      </ul>

      Emplacement:
      <ng-multiselect-dropdown [placeholder]="'Sélection de l emplacement de l événement'"
                              [data]="emplacements"
                              [(ngModel)]="selectedEmplacement"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="nullEmp();">
      </ng-multiselect-dropdown>
    </div>
    <div>
      <h3>Chapitre</h3>
      <ul class="list-group">
        <li *ngFor="let chapitre of selectedChapitre">
          <div class="row">
            <div class="col">
              <a routerLink="/chapitres/detail/{{chapitre.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{chapitre.Id}}</span> Chapitre Numero {{chapitre.Numero}}
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ng-multiselect-dropdown [placeholder]="'Sélection du chapitre de l événement'"
                              [data]="chapitres"
                              [(ngModel)]="selectedChapitre"
                              [settings]="dropdownSettings2"
                              (onDeSelect)="nullChap();">
      </ng-multiselect-dropdown>
    </div>

    <h3>Cliquable</h3>
    <div *ngIf="!selectedSortilege && !selectedIndice && !selectedMonstre">
      <ul class="list-group">
        <li *ngFor="let objet of selectedObjet">
          <div class="row">
            <div class="col">
              <a routerLink="/objets/detail/{{objet.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{objet.Id}}</span> {{objet.Nom}}
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ng-multiselect-dropdown [placeholder]="'Sélection d un objet pour l événement'"
                              [data]="objets"
                              [(ngModel)]="selectedObjet"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="nullAll();">
      </ng-multiselect-dropdown>
    </div>

    <div *ngIf="!selectedObjet && !selectedIndice && !selectedMonstre">
      <ul class="list-group">
        <li *ngFor="let sortilege of selectedSortilege">
          <div class="row">
            <div class="col">
              <a routerLink="/sortileges/detail/{{sortilege.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{sortilege.Id}}</span> {{sortilege.Nom}}
              </a>
            </div>
          </div>
        </li>
      </ul>

      <ng-multiselect-dropdown [placeholder]="'Sélection d un sortilège pour l événement'"
                              [data]="sortileges"
                              [(ngModel)]="selectedSortilege"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="nullAll();">
      </ng-multiselect-dropdown>
    </div>

    <div *ngIf="!selectedObjet && !selectedSortilege && !selectedIndice">
      <ul class="list-group">
        <li *ngFor="let monstre of selectedMonstre">
          <div class="row">
            <div class="col">
              <a routerLink="/personnages/detail/{{monstre.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{monstre.Id}}</span> {{monstre.Nom}}
              </a>
            </div>
          </div>
        </li>
      </ul>


      <ng-multiselect-dropdown [placeholder]="'Sélection d un monstre pour l événement'"
                              [data]="monstres"
                              [(ngModel)]="selectedMonstre"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="nullAll();">
      </ng-multiselect-dropdown>
    </div>

    <div *ngIf="!selectedObjet && !selectedSortilege && !selectedMonstre">
      <ul class="list-group">
        <li *ngFor="let indice of selectedIndice">
          <div class="row">
            <div class="col">
              <a routerLink="/indices/detail/{{indice.Id}}" class="list-group-item list-group-item-action">
                <span class="badge">{{indice.Id}}</span> {{indice.Nom}}
              </a>
            </div>
          </div>
        </li>
      </ul>
      <ng-multiselect-dropdown [placeholder]="'Sélection d un indice pour l événement'"
                              [data]="indices"
                              [(ngModel)]="selectedIndice"
                              [settings]="dropdownSettings1"
                              (onDeSelect)="nullAll();">
      </ng-multiselect-dropdown>
    </div>
    <div *ngIf="selectedChapitre && (selectedSortilege || selectedMonstre || selectedObjet || selectedIndice) && selectedEmplacement">
    <button class="btn btn-info" (click)="save()">Sauvegarder</button>
    </div>
    
    <button class="btn btn-danger" title="Supprimer l'événement"
            (click)="delete(evenement)">Supprimer</button>
  </label>
</div>

