<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; Retour</button>

<div *ngIf="sortilege" style="text-align: center">
  <h2>Détail sur : {{sortilege.Nom}}</h2>
  <label>
    Id: {{sortilege.Id}}<br><br>
    Nom:
    <input class="form-control" [(ngModel)]="sortilege.Nom" placeholder="nom" trim><br>
    Description:
    <textarea class="form-control" [(ngModel)]="sortilege.Description" placeholder="description" trim></textarea><br>
    Type:
    <ng-multiselect-dropdown [placeholder]="'Sélection du type du sortilège'"
                              [data]="types"
                              [(ngModel)]="selectedType"
                              [settings]="dropdownSettings"
                              (onDeSelect)="nullType();">
    </ng-multiselect-dropdown><br>
    
    <div *ngIf="selectedType && sortilege.Nom">
      <div *ngIf="selectedType[0].id === 1">
        Effet:
        <input [(ngModel)]="sortilege.Effet" class="form-control" />
      </div>
      
      <div *ngIf="selectedType[0].id === 2 || selectedType[0].id === 3">
        Puissance:
        <input [(ngModel)]="sortilege.Puissance" class="form-control" />
      </div>
    </div>
  </label>
  <br><br>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
  <button class="btn btn-danger" title="Supprimer le sortilège"(click)="delete(sortilege)">Supprimer</button><br><br />
</div>